<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Ingenieria')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Ingenieria')" aria-label="Barra navegacion"></nav>
		
		<div hidden id="spinner">
			<div>Cargando ...</div>
		</div>
				 
		<div class="container my-5">
			
			<div class="row">
		        <div class="col-12">
		            <h1 class="mb-4">Memorandos</h1>			
					<section id="alerts" aria-live="polite" th:replace="fragments/alerts :: alerts"></section>
		        </div>
			</div>
			
			<div class="row mb-4">
			    <div class="col-md-6 mx-auto">
			        <form th:action="@{/ingenieria/memos}" method="get" class="d-flex">
			            <div class="input-group">
			                <span class="input-group-text">
			                    <i class="fa fa-search"></i>
			                </span>
			                <input type="text" 
			                       name="keyword" 
			                       th:value="${keyword}" 
			                       class="form-control" 
			                       placeholder="Buscar por cliente, proyecto o usuario...">
			                <button class="btn btn-outline-primary" type="submit">Buscar</button>
			            </div>
			        </form>
			    </div>
			</div>
		 
			<div class="table-responsive text-nowrap my-5">
				<table class="table table-striped align-middle table-hover rounded" aria-describedby="table-description">
					<thead>
						<tr>
							<th class="text-nowrap">Num Memo</th>
							<th class="text-nowrap">Fecha</th>
							<th class="text-nowrap">Cliente</th>
							<th class="text-nowrap">Proyecto</th>
							<th class="text-nowrap">Zona</th>
							<th class="text-nowrap">OP</th>
							<th class="text-nowrap">Solicita</th>
							<th class="text-nowrap">Aprueba</th>
							<th class="text-nowrap">Estado</th>
						</tr>
					</thead>
					<tbody id="body-memos">
						<tr th:each="memo: ${memos}" style="cursor: pointer;">
							<td>
			                    <div class="d-flex align-items-center">
			                        <i class="fa fa-file-text me-2"></i>
			                        <span th:text="${'M-' + memo.idMemo}"></span>
			                    </div>
			                </td>
							<td th:text="${#dates.format(memo.fechaCreacion, 'yyyy-MM-dd')}"></td>
							<td th:text="${memo.cliente}"></td> 
							<td th:text="${memo.proyecto}"></td>
							<td th:text="${memo.zona}"></td>
							<td th:text="${memo.op}"></td>
							<td th:text="${memo.usuarioCrea}"></td>
							<td th:text="${memo.UsuarioAprueba}"></td>
							<td>
								<span th:switch="${memo.idEstado}">
									<span th:case="0" class="badge bg-warning text-dark">Pendiente</span>
									<span th:case="1" class="badge bg-success">Aprobado</span>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="memoSel" hidden class="card mt-4 p-0">
				<div class="card-header">
			        <h3 class="card-title mb-0">Memo seleccionado</h3>
			    </div>
				<div class="card-body">
			        <div class="row g-2">
						<div class="row">
							<div class="col-md-3">
				                <div class="input-group">								
				                    <span class="input-group-text"> <i class="fa-solid fa-file-lines me-2"></i> Memo</span>
				                    <input type="text" class="form-control text-end" id="noMemo" readonly>
				                </div>
				            </div>
							<div class="col-md-6 offset-md-3">
								<div class="input-group">								
						           <span class="input-group-text"><i class="fa-solid fa-building me-2"></i>Cliente </span>
						           <input type="text" class="form-control text-end" id="cliente" readonly />
						    	</div>	
							</div>		
						</div>
						<div class="row mt-3 justify-content-space-between">
							<div class="col-md-3">
								<div class="input-group">								
						           <span class="input-group-text"><i class="fa-solid fa-clipboard-list me-2"></i>Fecha </span>
						           <input type="text" class="form-control text-end" id="fecha" readonly />
						    	</div>
							</div>							
							<div class="col-md-6 offset-md-3">
				                <div class="input-group">								
				                    <span class="input-group-text"><i class="fa-solid fa-folder-open me-2"></i>Proyecto</span>
				                    <input type="text" class="form-control text-end" id="proyecto" readonly>
				                </div>
				            </div>							
						</div>
		        	</div>
				</div>	
			</div>
		
			<div class="table-responsive rounded-3 shadow-sm" style="margin-top: 3rem; margin-bottom: 2rem; max-height: 30rem; overflow-y: auto;">
				<table class="table table-striped table-hover table-rounded caption-top">
					<caption>Detalle Memo </caption>
					<thead class="table-light sticky-top">
						<tr>
							<th>Item</th>
							<th>Descripcion</th>
							<th>Cant</th>
							<th>Accion</th>
						</tr>
					</thead>
					<tbody id="body-detalle-memo">									
					</tbody>
				</table>		 				
			</div>
			
			<div class="form-floating" hidden id="obsContainer">
			  <textarea class="form-control" placeholder="Observaciones del memorando" id="observaciones" style="height: 100px" required></textarea>
			  <label for="observaciones">Observaciones</label>
			</div>
			
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/ingenieria/listar-memos.js"></script>
	</body>
</html>