<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Configuracion :: Formulario Role')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div class="container my-5" style="width:60%;">
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			  </button>
			 </div>
			 <div class="card-body" style="margin: auto; width: 80%;">
				 <h2 class="mb-5">Formulario Role</h2>
	 		    <form th:object="${role}" th:action="@{/roles}" method="post">
			        <input type="hidden" th:field="*{idRole}" required/>
					<input type="hidden" th:field="*{permissions}" id="permissions-field" />

			        <div class="form-group mb-5">
			           <label for="nombre">Nombre: </label>
			           <input type="text" name="nombre" th:field="*{nombre}" class="form-control" required />
			       	</div>
			       	
					<h2>Modulos</h2>
			       	<div class="modulos mt-5">
				       	<div th:each="modulo, stat : ${modulos}" >
					    	<div class="form-check form-switch mb-5 mx-4">
							  <input class="form-check-input" type="checkbox" role="switch" th:id="${'flexSwitchCheckChecked_' + modulo.id}">
							  <label class="form-check-label" th:for="${'flexSwitchCheckChecked_' + modulo.id}">[[${modulo.nombre}]]</label>
							</div>
					    </div>						   
				   </div>
				   
				   <div id="detalles-modulos" class="my-4">
					
				   </div>
				   <div class="my-5" >
				       	<button type="submit" class="btn btn-primary">Guardar</button>
			        	<a class="btn btn-secondary" th:href="@{/roles}" role="button">Volver al Listado</a>					
				   </div>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/configuracion/formulario-role.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var modulosString = /*[[${modulosJson}]]*/ '[]';
			/*]]>*/

		</script>
	</body>
</html>