<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Comercial')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Comercial')"></nav>
				 
		<div class="container my-5">
			<h1>Pedidos de venta</h1>
			<div th:replace="fragments/alerts :: alerts"></div>
			<form th:action="@{/comercial/pedidos/listar}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscar" name="keyword" th:value="${keyword}">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </form>	 
			<div class="table-responsive text-nowrap my-5">
				<table class="table table-striped align-middle table-hover rounded" aria-describedby="table-description">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Pedido</th>
							<th>O.P</th>
							<th>Nit</th>
							<th>Razon Social</th>
							<th>Proyecto</th>
							<th>Valor</th>
							<th>Estado</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pedido : ${pedidosPage.content}">
						<td th:text="${#dates.format(pedido.fecha, 'yyyy-MM-dd')}"></td>
						<td th:text="${pedido.pedidoNo }"></td>
						<td th:text="${pedido.numOp != null && pedido.numOp != ''} ? ${pedido.tipoOp + '-' + pedido.numOp} : ''"></td>
						<td th:text="${pedido.nit}"></td>
						<td th:text="${pedido.razonSocial}"></td>
						<td th:text="${pedido.co }"></td>
						<td th:text="'$ ' + ${#numbers.formatDecimal(pedido.valorBruto, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
						<td>
						    <span th:switch="${pedido.estado}">
						        <span th:case="'Cumplido'" class="finished__badge" th:text="${pedido.estado}"></span>
						        <span th:case="'Aprobado'" class="approved__badge" th:text="${pedido.estado}"></span>
						        <span th:case="'Anulado'" class="canceled__badge" th:text="${pedido.estado}"></span>
						        <span th:case="'Retenido'" class="in_preparation__badge" th:text="${pedido.estado}"></span>
						        <span th:case="*" th:text="${pedido.estado}"></span>
						    </span>
						</td>
						<td >
							<a th:if="${pedido.estado == 'Aprobado'}"  role="button" class="btn btn-primary" id="bt" th:href="@{/comercial/pedidos/estado/{noPv}(noPv=${pedido.noPv})}">Ver</a>				
						</td>
						</tr>
					</tbody>
				</table>
			</div>
			<nav aria-label="Page navigation" th:if="${pedidosPage.totalPages > 1}">
                <ul class="pagination justify-content-center">

                    <li class="page-item" th:each="i : ${#numbers.sequence(0, pedidosPage.totalPages - 1)}" th:classappend="${pedidosPage.number == i} ? 'active'">
                        <a class="page-link" th:href="@{/comercial/pedidos/listar(page=${i}, keyword=${keyword})}" th:text="${i + 1}"></a>
                    </li>

                </ul>
            </nav>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/general.js"></script>
	</body>
</html>