<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Comercial : Pedidos')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Comercial')"></nav>
		<div class="container my-5">
			
			<div hidden id="spinner">
				<div>Cargando ...</div>
			</div>
			
			<div th:replace="fragments/alerts :: alerts"></div>	
			
			 <h1>[[${noPedido}]]</h1>
			<div class="table-responsive text-nowrap my-5">
				<table class="table table-striped align-middle table-hover table-bordered rounded caption-top" aria-describedby="table-description">
					<caption>Items de la OP</caption>
					<thead class="table-light">
						<tr>
							<th>Ref</th>
							<th>Descripcion</th>
							<th>UM</th>
							<th>Bodega</th>
							<th>Cant</th>
							<th>Peso</th>
							<th>O.P</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
					    <form id="opForm" th:action="@{/comercial/crear-op}" method="post">
					        
					        <tr th:each="item : ${items}" >
								<input type="hidden" name="referencia" th:value="${item.referencia}" />
								<input type="hidden" name="tipoPedido" th:value="${item.tipoPedido}" />
								<input type="hidden" name="noPedido" th:value="${item.noPedido}" />
					            <td th:text="${item.referencia}"></td>
					            <td th:text="${item.descripcion}"></td>
					            <td th:text="${item.um}"></td>
					            <td th:text="${item.bodega}"></td>
					            <td th:text="${item.cantidad}"></td>
					            <td th:text="${item.peso}"></td>
								<td th:text="${item.numOp != null && item.numOp != ''} ? ${item.tipoOp + '-' + item.numOp} : ''">
					            <td >
									<button type="button" class="btn btn-primary create-op-button"
									        th:if="${#strings.isEmpty(item.numOp)}">
									        Crear OP
								    </button>
					            </td>
					        </tr>
					    </form>
					</tbody>

				</table>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script>
		    const createOpButtons = document.querySelectorAll('.create-op-button');
			console.log(createOpButtons)
		    createOpButtons.forEach(button => {
		        button.addEventListener('click', function() {
		            const noPedido = button.closest('tr').querySelector('[name="noPedido"]').value;
		            const ref = button.closest('tr').querySelector('[name="referencia"]').value;
					spinner.removeAttribute('hidden')
		            document.getElementById('opForm').action = `/comercial/crear-op/${noPedido}/${ref}`;
		            document.getElementById('opForm').submit();
		        });
		    });
		</script>
	</body>
</html>