<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Configuracion :: Formulario Centro trabajo')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div class="container my-5" style="width:60%;">
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			  </button>
			 </div>
			 <div class="card-body" style="margin: auto; width: 80%;">
			 <h2 class="mb-5">Formulario Usuario</h2>
	 		    <form th:object="${usuario}" th:action="@{/usuarios/guardar}" method="post">
			        <input type="hidden" th:field="*{id}" />
			        <div class="form-group mb-3">
			           <label for="nombre-usuario">Nombre de usuario (ERP): </label>
			           	<input type="text" id="nombre-usuario" th:field="*{nombreUsuario}" class="form-control" required />						   
					   
			       	</div>
			       	<div class="form-group mb-3">
			           <label for="password">Contrase&ntilde;a (ERP): </label>
			           	<input type="password" id="password" th:field="*{contrasena}" class="form-control" />						   
			       	</div>
			       	<div class="form-group mb-3">
			           <label for="nombres">Nombres: </label>
				           <input type="text" id="nombres" th:field="*{nombres}" class="form-control" required />						   
					   
			       	</div>
			       	<div class="form-group mb-3">
			           <label for="cedula">Cedula: </label>
				           <input type="text" id="cedula" th:field="*{cedula}" class="form-control" required />						   
					   
			       	</div>
			       	<div class="form-group mb-3">
			           <label for="email">Email: </label>
				           <input type="email" id="email" th:field="*{correo}" class="form-control" required autocomplete="on"/>						   
					   
			       	</div>
			       	<div class="form-group mb-3">
	                   <label for="role">Perfil : </label>
		                   <select class="form-control" id="role" th:field="*{role}" required>
		                   	<option value=""></option>
		                       <option th:each="role : ${roles}" th:value="${role.idRole}" th:text="${role.nombre}" th:selected="${usuario.role?.idRole == role.idRole}"></option>
		                   </select>						   
					   
	               	</div>
					<div>
			        	<a class="btn btn-secondary" th:href="@{/usuarios}" role="button">Volver al Listado</a>
				       	<button type="submit" class="btn btn-primary">Guardar</button>						
					</div>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	</body>
</html>
