<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="fragments/head :: head('Configuracion :: Formulario Centro trabajo')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div class="container my-5" style="width:60%;">
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			 </div>
			 <h2 class="mb-5">Formulario Usuario</h2>
			 <div class="card-body" style="margin: auto; width: 80%;">
	 		    <form th:object="${usuario}" th:action="@{/usuarios/guardar}" method="post">
			        <input type="hidden" th:field="*{id}" required/>
			        <div class="form-group mb-3">
			           <label>Nombre de usuario: </label>
			           <input type="text" th:field="*{nombreUsuario}" class="form-control" required />
			       	</div>
			       	<div class="form-group mb-3">
			           <label>Contrase&ntilde;a: </label>
			           <input type="password" th:field="*{contrasena}" class="form-control" />
			       	</div>
			       	<div class="form-group mb-3">
			           <label>Nombres: </label>
			           <input type="text" th:field="*{nombres}" class="form-control" required />
			       	</div>
			       	<div class="form-group mb-3">
			           <label>Email: </label>
			           <input type="email" th:field="*{correo}" class="form-control" required />
			       	</div>
			       	<div class="form-group mb-3">
	                   <label>Perfil : </label>
	                   <select class="form-control" th:field="*{rol}" required>
	                   	<option value=""></option>
	                       <option th:each="rol : ${roles}" th:value="${rol.idRol}" th:text="${rol.nombre}"></option>
	                   </select>
	               	</div>
			       	<button type="submit" class="btn btn-primary">Guardar</button>
		        	<a class="btn btn-secondary" th:href="@{/usuarios}" role="button">Volver al Listado</a>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap.bundle.min.js"></script>
		<script th:replace="fragments/script-dropdown :: dropdown"></script>
	</body>
</html>