<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	  <head th:replace="fragments/head :: head('Almacen :: Solicitudes Materia Prima')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Almacen')" aria-label="Site menu"></nav>
		
		<div class="container my-5">
			
			<div hidden id="spinner">
				<div>Cargando ...</div>
			</div>
						
						
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			 </div>
			 
			 <h2 class="mb-2"> Historial Solicitudes de Transferencia </h2>
			<div style="display: flex; justify-content: center;">
				<div class="table-responsive rounded-3 shadow-sm" style="margin-top: 3rem; margin-bottom: 2rem; width: 40rem;  max-height: 15rem; overflow-y: auto;">
					<table class="table table-striped table-hover table-rounded caption-top">
						<caption>Solicitudes</caption>
						<thead class="table-light sticky-top">
							<tr>
								<th>No Solic</th>
								<th>Fecha</th>
								<th>OP</th>
								<th>Usuario solicita</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody id="body-solicitudes-materia-prima">
							<tr	th:each="sol : ${solicitudes.content}">
								<td th:text="${sol.solicitud.id}"></td>
								<td th:text="${#dates.format(sol.solicitud.fechaDoc, 'yyyy-MM-dd')}"></td>
								<td th:text="${sol.solicitud.tipoOp +'-'+ sol.solicitud.numOp}"></td>
								<td th:text="${sol.usuarioSol}"></td>
								<td>
			                        <span th:switch="${sol.solicitud.idEstado}">
			                            <span th:case="0" class="badge bg-warning text-dark">Pendiente</span>
			                            <span th:case="1" class="badge bg-success">Realizada</span>
			                            <span th:case="2" class="badge bg-danger">Rechazada</span>
			                            <span th:case="*" class="badge bg-secondary">Desconocido</span>
			                        </span>
			                    </td>
							</tr>		
						</tbody>
					</table>		 				
				</div>
			</div>
			
			<nav aria-label="Paginación de solicitudes" >
	            <ul class="pagination justify-content-center">
	                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
	                    <a class="page-link" th:href="@{/almacen/solicitudes/historial(page=0,size=${solicitudes.size})}">&laquo;</a>
	                </li>
	                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
	                    <a class="page-link" th:href="@{/almacen/solicitudes/historial(page=${currentPage - 1},size=${solicitudes.size})}">‹</a>
	                </li>
					<!-- Páginas numeradas (máximo 5) -->
			        <li class="page-item" th:each="pageNum : ${pageNumbers}"
			            th:classappend="${pageNum == currentPage} ? 'active'">
			            <a class="page-link" th:href="@{/almacen/solicitudes/historial(page=${pageNum},size=${solicitudes.size})}"
			               th:text="${pageNum + 1}"></a>
			        </li>
	                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
	                    <a class="page-link" th:href="@{/almacen/solicitudes/historial(page=${currentPage + 1},size=${solicitudes.size})}">›</a>
	                </li>
	                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
	                    <a class="page-link" th:href="@{/almacen/solicitudes/historial(page=${totalPages - 1},size=${solicitudes.size})}">&raquo;</a>
	                </li>
	            </ul>
	        </nav>
			
			<!--<div th:unless="${hasContent}" class="text-center mt-4">
			    <p class="text-muted">No hay solicitudes para mostrar.</p>
			</div>-->
			
			<div style="display: flex; flex-direction: column;" hidden id="solSel">
				<h3>Solicitud selecionada:</h3>
				<div style="display: flex; justify-content: space-between;">
					<div class="input-group my-3 size-s" >
			           <span class="input-group-text">No. Sol</span>
			           <input type="text" class="form-control" id="noSolSel" readonly style="text-align: right;" />
			    	</div>
					<div class="input-group my-3 mx-3 size-m" >
			           <span class="input-group-text">Fecha </span>
			           <input type="text" class="form-control" id="fechaSolSel" readonly style="text-align: right;" />
			    	</div>
					<div class="input-group my-3 mx-3 size-m" >
			           <span class="input-group-text">OP </span>
			           <input type="text" class="form-control" id="opSel" readonly style="text-align: right;" />
			    	</div>
					<div class="input-group my-3 mx-3 size-l" >
			           <span class="input-group-text">Solicita </span>
			           <input type="text" class="form-control" id="usuSolSel" readonly style="text-align: right;" />
			    	</div>				
				</div>
				
			</div>			
			
			<div style="margin-right: 2rem;">
				<div class="table-responsive rounded-3 shadow-sm" style="margin-top: 3rem; margin-bottom: 2rem; max-height: 30rem; overflow-y: auto;">
					<table class="table table-striped table-hover table-rounded caption-top">
						<caption>Detalle Solicitud </caption>
						<thead class="table-light sticky-top">
							<tr>
								<th>Codigo</th>
								<th>Descripcion</th>
								<th>Um</th>
								<th>Bodega Origen</th>
								<th>Bodega Destino</th>
								<th>Lote</th>
								<th>Cant Solicitada</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="body-detalle-materia-prima">									
						</tbody>
					</table>		 				
				</div>
			</div> 		    
			
		</div>		

		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/almacen/solicitudes-materia-prima.js"></script>
	</body>
</html>