

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
    margin: 0;
    background-color: #f4f4f5/* rgb(253, 253, 253);f5f9fa*/
}

.header{
	display: flex;
	justify-content: space-between;
}

.row1{
	display:flex !important;
	justify-content: space-between;
	margin: 0 0 2rem 0;
}
.text_color{
	color: #DC1D33 !important;
}
.text_color_black{
	color: #000000 !important;
}
.text_color_white{
	color: #FFFFF3 !important;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.container_table{
    margin: auto;
    /*overflow: hidden;*/
}
.table-responsive{
	border: 2px solid #EDEEF1;
	overflow: auto;
	container-type: inline-size;
  	container-name: table;
  	background: #fff;
  	border-radius: 1rem;
  	padding: 1.5rem;
  	text-align: left;
}
/*.table>:not(caption)>*>* {
	background-color: rgb(0, 121, 54, 0.8);
}*/

.table-dark {
	--bs-table-bg: rgb(0, 121, 54, 0.9);
}

/*.rounded{
  border-radius: .375rem !important;
  border-width: 1px;
}*/

.size-l{
    width: 20rem;
}

.size-xl{
    width: 25rem !important;
}

.size-s{
    width: 9rem !important;
}
.size-xs{
	width: 5rem !important;
}

.size-m{
    width: 16rem;
}

.size-xxl{
	width: 30rem;
}

.modulos{
	display: flex;
	flex-wrap: wrap;
}

.btn-primary{
	background-color: #11464A !important; /* #007744 rgb(0, 121, 54, 0.9)*/
	--bs-btn-border-color: none !important;
	color: #F4F4F5 !important;
}

.btn-info{
	background-color: #007B63 !important; 
	--bs-btn-border-color: none !important;
	color: #F4F4F5 !important;
}

.active>.page-link, .page-link.active{
    z-index: 3;
    color: #F4F4F5 !important;
    background-color: #11464A !important;
    border-color: #11464A !important;
}

.btn-secondary{
	background-color: #F2C438  !important;/* FFEB3B rgb(255, 214, 0, 0.9)*/
	--bs-btn-border-color: none !important;
	color: #35404b; /*#000;*/ 
	--bs-btn-hover-color: none;
}

.page-link{
	color: #11464A !important;
}

.nav-link{
	color: #11464A !important;
}

.filtro{
	display: flex;
}

.no-text-decoration {
    text-decoration: none;
}
footer {
    background-color: #007B63; /* rgb(0, 121, 54, 0.9);*/
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border-radius: .375rem;
}

.container{
	flex-grow: 1;
}

.finished__badge {
  width: max-content;
  background: #dcfce7;
  border-radius: 6px;
  border: 1px solid #15803d;
  color: #15803d;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .875rem;
  font-weight: 500;
}

.approved__badge {
  width: max-content;
  background: #9DD0EB;
  border-radius: 6px;
  border: 1px solid #3F3FEB;
  color: #3F3FEB;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .875rem;
  font-weight: 500;
}

.in_preparation__badge {
  width: max-content;
  background: #f8ffdc;
  border-radius: 6px;
  border: 1px solid #EAA90F;
  color: #EAA90F;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .875rem;
  font-weight: 500;
}

.canceled__badge {
  width: max-content;
  background: #fee2e2;
  border-radius: 6px;
  border: 1px solid #b91c1c;
  color: #b91c1c;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .875rem;
  font-weight: 500;
}

.input-group-text{
	background: #007B63; /* rgb(0, 121, 54, 0.79);*/
	color: #FFFFFF;
}

.button-check-table{
	background-color: #fff;
    border: none;
    color: #000;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
}

.button-check-table:active{
	outline: none;
}

.button-check-table:focus{
	outline: none;
}

.button-check-table .button-icon {
  display: inline-block;
}

.button-check-table .plus::before{
	content: "+";
}

.button-check-table .minus::before{
	content: "-";
}

.table-production {
	display:none;
}

.table-production.show {
  display: inline-block;
}

.button-check-table.show .button-icon.plus,
.button-check-table.show .button-icon.minus {
  display: none; 
}

.button-check-table.show .button-icon.plus {
  display: inline-block; 
}

.button-check-table.show .button-icon.minus {
  display: none; 
}

.progress-bar-container {
	width: 80%;
	margin: auto;
	background-color: #e0e0e0;
	border-radius: 5px;
	overflow: hidden;
}

.progress-bar {
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.green {
  height: 40%;
  background: green;
}

.yellow {
  top: 40%;
  height: 40%;
  background: yellow; 
}

.red {
  top: 80%;
  height: 20%;
  background: red;
}

.number {
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.number:first-child {
  top: 10px;
  left: 10px; 
}

.number:last-child {
  bottom: 10px;
  right: 10px;  
}

@container table (min-width: 400px) {
    .sticky-col {
     position: sticky;
     left: 0;
  }
  
  .sticky-col-right {
    right: 0;
  }
}

@container table (max-width: 400px) {
  td::before {
      content: attr(data-label);
      font-weight: 700;
      color: #374151;
      font-size: 14px;  
  }
  
  label {
    display: none;
  }
  
  td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
  }
  
  td:first-child {
    background: #f9fafb;
  }
  
  th {
    display: none;
  }
}

.logo {
  max-width: 70%;
  height: auto;
  background-color: transparent;
}

.hscroll{
      overflow-x: auto;
      overflow-y: scroll;
  }

#spinner:not([hidden]) {
    position: fixed;
    top: 35%;
    left: 35%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(143, 143, 143, 0.3);
    width: 25rem;
    height: 25rem;
    border-radius: 1.5rem;
  }
  
  #spinner > div {
	margin-top: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	}
  
  #spinner::after{
    content: "";
    width: 15rem;
    height: 15rem;
    border: 0.4rem solid #f3f3f3;
    border-top: 5px solid rgb(0, 121, 54, 0.9);
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear;
    z-index: 10000;
    background-color: #706c6c;
  }
  
  
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .dashboard {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 20px;
  }

  .chart-container, .card-container {
      width: 30%;
      min-width: 300px;
      margin-bottom: 20px;
      text-align: center;
  }
  
  .card {
      background-color: transparent;
      border-radius: 8px;
      padding: 20px;
	  border-color: transparent;
      
  }
  .card h2 {
      margin-top: 0;
      color: #333;
  }
  .card .value {
      font-size: 4.5em;
      font-weight: bold;
      color: #081523;
  }
  
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader-content {
    text-align: center;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .loader-text {
    font-size: 1rem;
    color: #6c757d;
  }

  .modal-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1056;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
      .chart-container, .card-container {
          width: 100%;
      }
  }


