<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Home')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('*')"></nav>
		<div class="container "  >
			<img class="logo my-5" th:src="@{/imgs/logo-guayacan.png }" alt="logo" />
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		
	</body>
</html>