<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Produccion')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Ingenieria')"></nav>
				 
		<div class="container my-5">
			
			<div hidden id="spinner">
				<div>Cargando ...</div>
			</div>
						
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			 </div>
			 
			 <h2 class="mb-5"> Carga Centro Trabajo </h2>
			 
			 <div class="form-group mb-3">
               <label for="centroSelect" >Centro de trabajo </label>
                   <select id="centroSelect" class="form-control"  required>
                   		<option value=""></option>
                        <option th:each="centro : ${centros}" th:value="${centro.id}" th:text="${centro.nombre}"></option>
                   </select>			   
           	 </div>
           	 
           	 <button class="btn btn-primary my-3" onclick="imprimirSeleccion()">
				<i class="fas fa-print me-2"></i>
				Imprimir Selección
			</button>
           	 
			<div class="card shadow-sm mb-4" hidden id="title-ops">
                <div class="card-header">
                    <h3 class="card-title h5 mb-0">Ordenes de Produccion</h3>
                </div>
                <div class="card-body p-0">
                    <div class="form-group mt-4" id="ops-ct">
                    </div>
                </div>
            </div>
			
			<div class="card shadow-sm mb-4" hidden id="title-items">
                <div class="card-header" >
                    <h3 class="card-title h5 mb-0">Items de ordenes seleccionadas</h3>
                </div>
                <div class="card-body p-0">
                    <div class="form-group mt-4"  id="detalle-op">
                    </div>
                </div>
            </div>

			<div class="card shadow-sm mb-4" hidden id="title-componentes">
                <div class="card-header" >
                    <h3 class="card-title h5 mb-0">Componentes de los item de las ordenes seleccionadas</h3>
                </div>
                <div class="card-body p-0">
                    <div class="form-group mt-4" id="componentes">
                    </div>
                </div>
            </div>
			 
			 <h2 hidden id="title-componentes">Partes</h2>
			 <div class="form-group mt-4" id="componentes">						
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/general.js"></script>
		<script src="/js/produccion/carga-ct.js"></script>
	</body>
</html>