	<!DOCTYPE html>
	<html lang="es" xmlns:th="http://www.thymeleaf.org"
		  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
		<head th:replace="fragments/head :: head('Produccion :: Solicitud Materia Prima')"></head>
		<body>
			<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
			
			<div class="my-5" style="width: 80%; margin-left: 10rem;">
				
				<div hidden id="spinner">
					<div>Cargando ...</div>
				</div>
								
				<div th:replace="fragments/alerts :: alerts"></div>
				
	 		    <form id="solicitudForm" >
				 <div class="card-body" style="margin: auto; width: 100%;">
					 <div class="my-3" style="display: flex; justify-content: space-between;">
						<div class="input-group my-3 size-l">
				           <span class="input-group-text">Fecha Documento </span>
				           <input type="text" class="form-control" id="fechaDoc" name="fechaDoc" th:field="*{solicitud.fechaDoc}" readonly style="text-align: right;" />
				    	</div>
				    	
						<div class="input-group my-3 size-m">
						  <span class="input-group-text">Solicitud No: </span>
						  <input type="text" aria-label="consecutivo" th:value="${consecutivo}" id="noSol" class="form-control" readonly style="text-align: right;"/>
						</div>
					</div>
					 	<h2 class="mb-5"> Solicitud de Materia Prima </h2>
				    	<div class="my-3" style="display: flex; justify-content: space-between;">
					    	<div class="input-group my-3 size-m">
					           <span class="input-group-text">OP </span>
			                   <select class="form-control" id="id-op" required>
								   <option value="" disabled selected hidden>Selecciona numero de OP</option>
			                       <option th:each="num : ${numsOps}" th:value="${num.idOpIa}" th:text="${num.numOp}" th:data-op-descripcion="${num.descripcion}"></option>
			                   </select>	
					    	</div>
							
							<div class="input-group my-3 mx-5 size-xl" hidden id="descripcionDiv">
					           <span class="input-group-text">Proyecto </span>
			                   <input type="text" class="form-control" id="descripcion" name="descripcion" readonly style="text-align: right;" />	
					    	</div>
							
					    	<div class="input-group my-3 size-xxl">
					           <span class="input-group-text">Solicitante </span>
					           <input type="text" class="form-control" id="usuario" name="usuario" th:value="${usuario.nombres}" readonly style="text-align: right;" />
							   <input type="hidden" id="usuarioId" name="usuarioId" th:value="${usuario.id}" aria-hidden="true"/>
					    	</div>
							
						</div>
						
						<h3>Lista de materiales</h3>
						<div style="display: flex; justify-content: center;" hidden id="select">
							<div class="input-group my-3 size-xxl" >
					           <span class="input-group-text">Item Seleccionado </span>
					           <input type="text" class="form-control" id="itemSelec" readonly style="text-align: right;" />
					    	</div>
							<div class="input-group my-3 mx-3 size-xxl" >
					           <span class="input-group-text">Cantidad Pendiente </span>
					           <input type="text" class="form-control" id="cantItemSelec" readonly style="text-align: right;" />
							   <span class="input-group-text" id="umSelec"></span>
					    	</div>							
						</div>
						<div class="filtros" style="display: flex;">
							<div style="width: 50%; margin-right: 2rem;">
								<div class="table-responsive rounded-3 shadow-sm" style="margin-top: 3rem; margin-bottom: 2rem;  max-height: 20rem; overflow-y: auto;">
									<table class="table table-striped table-hover table-rounded caption-top">
										<caption>Lista de materiales </caption>
										<thead class="table-light sticky-top">
											<tr>
												<th>#</th>
												<th>Codigo</th>
												<th>Descripcion</th>
												<th>Um</th>
												<th>Cant Req</th>
												<th>Cant pend</th>
											</tr>
										</thead>
										<tbody id="body-lista-materiales">
											<tr>									
											</tr>
										</tbody>
									</table>		 				
								</div>
							</div>
							<div style="width: 50%;">
								<div class="table-responsive hscroll rounded-3 shadow-sm" style="margin-top: 3rem; margin-bottom: 2rem;  max-height: 30rem; overflow-y: auto;">
									<table class="table table-striped table-hover table-rounded caption-top">
										<caption>Disponibilidad </caption>
										<thead class="table-light sticky-top">
											<tr>
												<th>Codigo</th>
												<th>Um</th>
												<th>Bodega</th>
												<th>Lote</th>
												<th>Disponible</th>
												<th>Accion</th>
											</tr>
										</thead>
										<tbody id="disponible">
											<tr>									
											</tr>
										</tbody>
									</table>		 				
								</div>
							</div>						
						</div>
						
						
						<h2>Detalles de la Solicitud</h2>
						<div class="table-responsive rounded-3 shadow-sm" style="margin-top: 2rem;">
							<table class="table table-striped table-hover table-rounded caption-top">
								<caption>Detalle </caption>
								<thead class="table-light">
									<tr>
										<th>Codigo</th>
										<th>Descripcion</th>
										<th>Um</th>
										<th>Bodega</th>
										<th>Lote</th>
										<th>Disponible</th>
										<th>Cant Solicitada</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="detalle-solicitud">
								</tbody>
							</table>		 				
						</div>
						<input type="hidden" id="detalles" name="detalles" th:field="*{detalles}" aria-hidden="true">
						<input type="hidden" id="detallesJson" name="detallesJson" aria-hidden="true">
	        			<button type="submit" class="btn btn-primary my-3" onclick="enviarSolicitud()" id="submitForm">Crear Solicitud</button>
				 </div>
			 </form>
			</div>
			
			<footer th:replace="fragments/footer :: footer"></footer>
			
			<script src="/js/produccion/materia-prima.js"></script>	    
			<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		</body>
	</html>