<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Produccion :: Reporte piezas centro de trabajo')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div hidden id="spinner">
			<div>Cargando ...</div>
		</div>
		<div class="container my-5" style="width:60%;">
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <pre  th:text="${message}"></pre >
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <pre  th:text="${error}"></pre >
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			  </button>
			 </div>
			 <div class="card-body" style="margin: auto; width: 60%;">
				 <h2 class="mb-5">Reporte  [[${reporte.centroTrabajo}]]</h2>
	 		    <form id="reporteForm" method="POST" th:action="@{/centros-trabajo/${reporte.idCentroTrabajo}/reporte}" th:object="${reporte}">
			        <div class="form-group mb-3">
			           <label for="nombre-operario">Operario: </label>
			           	<input type="text" id="nombre-operario" th:value="*{operario.nombre}" class="form-control" required readonly/>						   
					   
			       	</div>
			       	<div class="form-group mb-3">
			           <label for="num-op">Numero Op: </label>
			           	<input type="number" id="num-op"  class="form-control" th:field="*{numOp}"  readonly/>						   
			       	</div>
			       	
			       	<div class="form-group mb-3">
			           <label for="proyecto">Proyecto: </label>
				           <input type="text" id="proyecto"  class="form-control" th:field="*{proyecto}" required readonly/>						   
			       	</div>
			       	
			       	<div class="form-group mb-3">
			           <label for="item">Item: </label>
				           <input type="text" id="item" class="form-control" th:field="*{ref}"  required readonly/>					   
			       	</div>
					
					<div class="form-group mb-3">
			           <label for="color">Color: </label>
				           <input type="text" id="color" class="form-control" th:field="*{color}"  required readonly/>					   
			       	</div>
			       	
			       	<div class="form-group mb-3">
			           <label for="cant-solic">Cant solicitada: </label>
				           <input type="number" id="cant-solic" class="form-control" th:field="*{cantSol}"  required readonly/>						   
			       	</div>
			       	
			       	<div class="form-group mb-3">
			           <label for="cant-fabricadas">Cant Fabricada: </label>
				           <input type="number" id="cant-fabricadas" class="form-control" th:field="*{cantFab}"  required readonly/>						   
			       	</div>
			       	
			       	<div class="form-group mb-3">
			           <label for="cant-reportar">Cant reportar: </label>
				           <input type="number" min="1" th:max="*{cantSol - cantFab}" id="cant-reportar" class="form-control" th:field="*{cantReportar}"  required />						   
			       	</div>
					
					<div class="form-group mb-3" hidden id="divLotes">
		               <label for="loteSelect" >Lote : </label>
		                   <select id="loteSelect" class="form-control" name="lote" th:field="*{lote}" >
		                   		<option value=""></option>
		                        <option th:each="lot : ${lotes}" th:value="${lot.loteErp}" th:text="${lot.loteErp}"></option>
		                   </select>			   
		           	 </div>
			       	<input type="hidden" id="operario" th:field="*{operario}" aria-hidden="true" />
			       	<input type="hidden" id="centroTrabajo" th:field="*{idCentroTrabajo}" aria-hidden="true" />
			       	<input type="hidden" id="idItemFab" th:field="*{idItemFab}"	aria-hidden="true"  />
			       	<input type="hidden" id="idItem" th:field="*{idItem}" aria-hidden="true"/>
					<input type="hidden" id="idParte" th:field="*{idParte}" aria-hidden="true"/>
			       	
			       	<button type="submit" class="btn btn-primary my-5">Guardar</button>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/produccion/formulario-reporte-piezas-ct.js"></script>
	</body>
</html>