<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Produccion :: Reporte piezas centro de trabajo')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div class="container my-5" style="width:60%;">
			<div hidden id="spinner">
				<div>Cargando ...</div>
			</div>
							
			<div th:replace="fragments/alerts :: alerts"></div>
			 <div class="card-body" >
				 <div class="my-3" style="display: flex; justify-content: end;">
					<div class="input-group size-m">
					  <span class="input-group-text">Reporte Novedad No: </span>
					  <input type="text" aria-label="consecutivo" class="form-control" th:value="*{consecutivo}" readonly style="text-align: right;"/>
					</div>
				</div>
				 <h2 class="mb-5"> [[${novedad.centroTrabajo}]]</h2>
	 		    <form method="POST" th:action="@{/centros-trabajo/novedades}" th:object="${novedad}" id="novedadesFrom">
			        <div class="input-group my-3">
			           <span class="input-group-text">Operario: </span>
			           	<input type="text" id="nombre-operario" th:value="*{operario.nombre}" class="form-control" required readonly style="text-align: right;"/>						   
					   
			       	</div>
			       	<div class="input-group my-3">
			           <span class="input-group-text">Numero Op: </span>
			           	<input type="number" id="num-op"  class="form-control" th:field="*{numOp}"  readonly style="text-align: right;"/>						   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">Proyecto: </span>
				           <input type="text" id="proyecto"  class="form-control" th:field="*{proyecto}" required readonly style="text-align: right;"/>						   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">Item: </span>
				           <input type="text" id="item" class="form-control" th:field="*{ref}"  required readonly style="text-align: right;"/>					   
			       	</div>
			       	
					<div class="input-group my-3">
			           <span class="input-group-text"> Piezas adicionales: </span>
			           <input type="number" id="piezasAdicionales" min="1" class="form-control" th:field="*{piezasAdicionales}"   style="text-align: right;"/>
			           <span class="input-group-text"> und </span> 					   
			       	</div>
					
			       	<div class="input-group my-3">
			           <span class="input-group-text">Kilogramos sobrantes: </span>
			           <input type="number" id="kgSobrante" min="0" step="0.1" class="form-control" th:field="*{sobrante}"   style="text-align: right;"/>
			           <span class="input-group-text"> kg </span> 					   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">No conforme: </span>
			           <input type="number" id="no-conforme" min="0" class="form-control" th:field="*{noConforme}"   style="text-align: right;"/>
			           <span class="input-group-text"> ml </span> 					   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">Desperdicio/Chatarra: </span>
				           <input type="number" id="desperdicio" min="0" class="form-control" th:field="*{desperdicio}"   style="text-align: right;"/>
				           <span class="input-group-text"> kg </span> 				   
			       	</div>								   					   			           
					
					<div class="row">
					    <div class="col-md-4">
					        <div class="input-group">
					            <span class="input-group-text">Lote: </span>
					            <select id="loteSelect" class="form-select" name="lote" th:field="*{lote}">
					                <option value=""></option>
					                <option th:each="lot : ${lotes}" 
					                        th:value="${lot.loteErp}" 
					                        th:text="${lot.loteErp}"
					                        th:data-descripcion="${lot.descripcion}">
					                </option>
					            </select>
					        </div>
					    </div>
					    <div class="col-md-8">
					        <div class="input-group">
					            <span class="input-group-text">Descripcion: </span>
								<input type="text" id="descripcionLote" class="form-control" readonly style="text-align: right;"/>
						        <input type="hidden" id="codErpMatriaPrima" th:field="*{codErpMp}"/>
					        </div>
					    </div>
					</div>
								       	
			       	
			       	<input type="hidden" id="operario" th:field="*{operario}" />
			       	<input type="hidden" id="centroTrabajo" th:field="*{idCentroTrabajo}" />
			       	<input type="hidden" id="idItemFab" th:field="*{idItemFab}" />
			       	<input type="hidden" id="idParte" th:field="*{idParte}" />
			       	<input type="hidden" id="idItem" th:field="*{idItem}" />
			       	<div class="d-grid">
			       		<button type="submit" id="btnGuardar" class="btn btn-primary btn-lg my-5">Guardar</button>						
					</div>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/novedades.js"></script>
		
		<script th:inline="javascript">
			/*<![CDATA[*/
	        var lotesConCodigosString = /*[[${lotesJson}]]*/ [];
	        /*]]>*/
			document.addEventListener('DOMContentLoaded', function() {
	            const form = document.getElementById('novedadesFrom');
	            const btnGuardar = document.getElementById('btnGuardar');

	            form.addEventListener('submit', function(event) {
	                btnGuardar.disabled = true;
	                btnGuardar.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Guardando...';
	            });
	        });
	    </script>
			
	</body>
</html>