<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/head :: head('Produccion :: Reporte piezas centro de trabajo')"></head>
<body>
    <header>
        <nav th:replace="fragments/navbar :: nav-bar('Produccion')"></nav>            
    </header>
    
	<div hidden id="spinner">
		<div>Cargando ...</div>
	</div>
                    
    <div th:replace="fragments/alerts :: alerts"></div>
        
    <div class="container mt-5 mb-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Reporte [[${reporte.centroTrabajo}]]</h2>
                        <form id="reporteForm" method="POST" th:action="@{/centros-trabajo/reporte}" th:object="${reporte}">
                            <div class="mb-3">
                                <label for="nombre-operario" class="form-label">Operario:</label>
                                <input type="text" id="nombre-operario" th:value="*{operario.nombre}" class="form-control" required readonly/>                           
                            </div>
                            <div class="mb-3">
                                <label for="num-op" class="form-label">Numero Op:</label>
                                <input type="number" id="num-op" class="form-control" th:field="*{numOp}" readonly/>                           
                            </div>
                            <div class="mb-3">
                                <label for="proyecto" class="form-label">Proyecto:</label>
                                <input type="text" id="proyecto" class="form-control" th:field="*{proyecto}" required readonly/>                           
                            </div>
							<div class="row">
	                            <div class="col-md-3 mb-3">
	                                <label for="id-item" class="form-label">Ref:</label>
	                                <input type="text" id="id-item" class="form-control" th:value="*{idItem} + '-' + (*{idParte != 0} ? *{idParte} : *{idItemFab})"  required readonly/>                   
	                            </div>
								<div class="col-md-9 mb-3">
	                                <label for="item" class="form-label">Item:</label>
	                                <input type="text" id="item" class="form-control" th:field="*{ref}" required readonly/>                   
	                            </div>								
							</div>
                            <div class="mb-3">
                                <label for="color" class="form-label">Color:</label>
                                <input type="text" id="color" class="form-control" th:field="*{color}" required readonly/>                   
                            </div>
                            <div class="mb-3">
                                <label for="cant-solic" class="form-label">Cant solicitada:</label>
                                <input type="number" id="cant-solic" class="form-control" th:field="*{cantSol}" required readonly/>                           
                            </div>
                            <div class="mb-3">
                                <label for="cant-fabricadas" class="form-label">Cant Fabricada:</label>
                                <input type="number" id="cant-fabricadas" class="form-control" th:field="*{cantFab}" required readonly/>                           
                            </div>
							<div class="row">
	                            <div class="col-md-6 mb-3">
	                                <label for="cant-reportar" class="form-label">Cant reportar:</label>
	                                <input type="number" min="1" th:max="*{cantSol - cantFab}" id="cant-reportar" class="form-control" th:field="*{cantReportar}" required />                           
	                            </div>
								
								<div class="col-md-6 mb-3">
								    <label for="kg-reportar" class="form-label">Kg reportar:</label>
								    <input type="number"  id="kg-reportar" class="form-control" th:attr="data-peso-item=${reporte.peso}" readonly />                           
								</div>								
							</div>
							<div id="kg-warning" class="alert alert-warning mt-3" style="display: none;">
							    Los kilogramos reportados son mayores que los disponibles en el lote.
							</div>
							<div class="row mb-3" id="divLotes" hidden>
	                            <div class="col-md-6 mb-3">
	                                <label for="loteSelect" class="form-label">Lote:</label>
	                                <select id="loteSelect" class="form-select" name="lote" th:field="*{lote}">
	                                    <option value=""></option>
	                                    <option th:each="lot : ${lotes}" 
												th:value="${lot.loteErp}" 
												th:text="${lot.loteErp}"
												th:data-disponible="${lot.disponible}"></option>
	                                </select>               
	                            </div>
								
								<div class="col-md-6 mb-3">
								    <label for="kg-disponible" class="form-label">Kg Diponibles :</label>
								    <input type="number"  id="kg-disponible" class="form-control" readonly />                           
								</div>	
							</div>
                            <input type="hidden" id="operario" th:field="*{operario}" />
                            <input type="hidden" id="centroTrabajo" th:field="*{idCentroTrabajo}" />
                            <input type="hidden" id="idItemFab" th:field="*{idItemFab}" />
                            <input type="hidden" id="idItem" th:field="*{idItem}" />
                            <input type="hidden" id="idParte" th:field="*{idParte}" />
                            <input type="hidden" id="idConfigProceso" th:field="*{idConfigProceso}" />
                            
                            <div class="d-grid text-center my-5">
                                <button type="submit" id="btnGuardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<div id="kg-warning" class="alert alert-warning mt-3" style="display: none;">
		    Los kilogramos reportados son mayores que los disponibles en el lote.
		</div>
    </div>
    
    <footer th:replace="fragments/footer :: footer"></footer>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/produccion/formulario-reporte-piezas-ct.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('reporteForm');
            const btnGuardar = document.getElementById('btnGuardar');

            form.addEventListener('submit', function(event) {
                btnGuardar.disabled = true;
                btnGuardar.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Guardando...';
            });
        });
    </script>
</body>
</html>