<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="fragments/head :: head('Produccion :: Reporte piezas centro de trabajo')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div class="container my-5" style="width:60%;">
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			 </div>
			 <div class="card-body" style="margin: auto; width: 60%;">
				 <div class="my-3" style="display: flex; justify-content: end;">
					<div class="input-group size-m">
					  <span class="input-group-text">Reporte Novedad No: </span>
					  <input type="text" aria-label="consecutivo" class="form-control" th:value="*{consecutivo}" readonly style="text-align: right;"/>
					</div>
				</div>
				 <h2 class="mb-5"> [[${novedad.centroTrabajo}]]</h2>
	 		    <form method="POST" th:action="@{/centros-trabajo/${reporte.idCentroTrabajo}/novedades}" th:object="${novedad}" >
			        <div class="input-group my-3">
			           <span class="input-group-text">Operario: </span>
			           	<input type="text" id="nombre-operario" th:value="*{operario.nombre}" class="form-control" required readonly style="text-align: right;"/>						   
					   
			       	</div>
			       	<div class="input-group my-3">
			           <span class="input-group-text">Numero Op: </span>
			           	<input type="number" id="num-op"  class="form-control" th:field="*{numOp}"  readonly style="text-align: right;"/>						   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">Proyecto: </span>
				           <input type="text" id="proyecto"  class="form-control" th:field="*{proyecto}" required readonly style="text-align: right;"/>						   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">Item: </span>
				           <input type="text" id="item" class="form-control" th:field="*{ref}"  required readonly style="text-align: right;"/>					   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">Unidades de mas: </span>
				           <input type="number" id="cant-solic" min="0" class="form-control" th:field="*{sobrante}"  required style="text-align: right;"/>						   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">No conforme: </span>
				           <input type="number" id="no-conforme" min="0" class="form-control" th:field="*{noConforme}"  required style="text-align: right;"/>						   
			       	</div>
			       	
			       	<div class="input-group my-3">
			           <span class="input-group-text">Desperdicio/Chatarra: </span>
				           <input type="number" id="desperdicio" min="0" class="form-control" th:field="*{desperdicio}"  required style="text-align: right;"/>						   
			       	</div>
			       	
			       	
			       	<input type="hidden" id="operario" th:field="*{operario}" />
			       	<input type="hidden" id="centroTrabajo" th:field="*{idCentroTrabajo}" />
			       	<input type="hidden" id="idItemFab" th:field="*{idItemFab}" />
			       	<input type="hidden" id="idPerfil" th:field="*{idPerfil}" />
			       	<input type="hidden" id="idItem" th:field="*{idItem}" />
			       	
			       	<button type="submit" class="btn btn-primary my-5">Guardar</button>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	</body>
</html>