<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="fragments/head :: head('Produccion')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Ingenieria')"></nav>
				 
		<div class="container my-5">
			<h1>Proyectos</h1>
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			 </div>
			 
			 <div  id="filtro">
			     <form class="filtro my-5">
			         <input type= "text" name= "keyword" id="keyword" class="form-control rounded size-l" th:value="${keyword}" placeholder="Filtar ej: 'nombre del proyecto'..." />
			         <input type= "submit" value= "Buscar" class="btn btn-primary mx-3" />
			         <input type= "button" value= "Limpiar" class="btn btn-secondary" onclick="javascript:keyword.value=''"/>
			     </form>
			</div>
		 
			<div class="table-responsive text-nowrap my-5">
			<table class="table table-striped align-middle table-hover table-bordered rounded" aria-describedby="table-description">
				<thead class="table-dark">
					<tr>
						<th>Proyeco</th>
						<th>Cliente</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="project : ${proyectos}">
					<td th:text="${project.proyecto}"></td>
					<td th:text="${project.cliente}"></td>
					<td >
						<a role="button" class="btn btn-primary" th:href="@{/produccion/proyectos/{idProyecto}(idProyecto=${project.proyecto})}">Ver</a>				
					</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	</body>
</html>