<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Comercial')">
	</head>
	<th:block >
		<link rel="stylesheet" href="/css/parametros.css">
    </th:block>
	<body>
		
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div class="content-wrapper">
		    <div id="spinner" hidden>
		        <div>Cargando ...</div>
		    </div>

		    <div class="main-container">
		        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
		            <span th:text="${message}"></span>
		            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>

		        <div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		            <span th:text="${error}"></span>
		            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		        </div>

		        <h1 class="text-center mb-4">Parámetros de configuración</h1>

		        <div id="parametros-container" class="parametros-container"></div>

		        <div class="button-container">
		            <button type="button" id="guardarCambios" class="btn btn-primary w-100">Guardar cambios</button>
		        </div>
		    </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>	
		<script src="/js/parametros.js"></script>	
	</body>
</html>