<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head th:replace="fragments/head :: head('Calidad :: Almatec')">
		
	</head>
	<style>
        .form-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
		.left {
		  justify-self: start;
		}

		.right {
		  justify-self: end;
		}

    </style>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Calidad')"></nav>
		
		<div class="container my-5">
			<div hidden id="spinner">
				<div>Cargando ...</div>
			</div>
							
			<div th:replace="fragments/alerts :: alerts"></div>

			<div class="card-body" style="margin: auto; width: 90%;" id="mainContent">				
	 		    <form method="POST" th:action="@{/calidad/formulario/guardar}" th:object="${formulario}" id="formCalidad">
					<input hidden type="text" id="formId" th:field="*{id}" />
					<input hidden type="text" class="id-centro-trabajo" th:value="*{idCentroTrabajo}" />
					<input hidden type="text" class="centro-trabajo" th:value="*{centroTrabajo}" />
					<input hidden type="text" class="item" th:value="*{idItem}" name="idItem"  /> 
					<div class="d-flex justify-content-between my-3">
						<div class="input-group size-m">
						  <span class="input-group-text">FECHA Y HORA: </span>
						  <input type="datetime-local" aria-label="Fecha" id="fechaDoc" name="fechaDoc" 
						           class="form-control" th:value="${fechaFormateada}" style="text-align: right;" readonly/>
						</div>
						
						<div class="input-group size-m">
						  <span class="input-group-text">OP #: </span>
						  <input type="text" th:field="*{numOp}" aria-label="orden de produccion" class="form-control" readonly style="text-align: right;"/>
						</div>
					</div>
					<div class="form-grid my-5">
		                <div class="input-group size-xl" >
		                    <span class="input-group-text">PROYECTO:</span>
		                    <input type="text" th:field="*{proyecto}" id="proyecto" name="proyecto" class="form-control"/>
		                </div>
						<div class="input-group size-l">
						    <span class="input-group-text">PEDIDO/ZONA:</span>
						    <input type="text" th:field="*{zona}" id="pedido" name="pedido" class="form-control"/>
						</div>
						<div class="input-group size-l">
						    <span class="input-group-text">NOMBRE ITEM:</span>
						    <input type="text" th:field="*{descripcionItem}" id="nombre" name="nombre" class="form-control"/>
						</div>
						<div class="input-group size-l">
						    <span class="input-group-text">MARCA:</span>
						    <input type="text" th:field="*{marca}" id="marca" name="marca" class="form-control"/>
						</div>
						<div class="input-group size-l">
						    <span class="input-group-text">CANTIDAD:</span>
						    <input type="text" th:field="*{cantSol}" id="cant" name="cant" class="form-control"/>
						</div>
						<div class="input-group ">
				           <span class="input-group-text">Lote: </span>
							   <select id="loteSelect" class="form-control" name="lote" onchange="mostrarCodigo()" th:field="*{lote}" >
	   		                   		<option value=""></option>
	   		                        <option th:each="lot : ${lotes}" th:value="${lot.loteErp}" th:text="${lot.loteErp}"></option>
	   		                   </select>				   
				       	</div>			               
	            	</div>
					
					<div id="parametros" hidden>
			            <h3>PARÁMETROS</h3>
			            
						<div class="form-grid my-4" style="width: 90%; margin: auto;">
							<div class="input-group size-m" id="anchoContainer">
							    <span class="input-group-text">ANCHO [mm]:</span>
							    <input type="number" th:field="*{ancho}" min="1" step="0.01" id="ancho" name="ancho" class="form-control"/>
							</div>
							<div class="input-group size-m" id="alturaContainer">
							    <span class="input-group-text">ALTURA [mm]:</span>
							    <input type="number" th:field="*{altura}" min="1" step="0.01" id="altura" name="altura" class="form-control"/>
							</div>
							<div class="input-group size-m" id="longitudContainer">
							    <span class="input-group-text">LONGITUD [mm]:</span>
							    <input type="number" th:field="*{longitud}" min="1" step="0.01" id="longitud" name="longitud" class="form-control"/>
							</div>
							<div class="input-group size-m" id="ralContainer">
							    <span class="input-group-text">RAL:</span>
							    <input type="text" th:field="*{ral}" id="ral" name="ral" class="form-control"/>
							</div>
						</div>
						
						<div class="form-grid my-4" style="width: 90%; margin: auto;">									                
			                <div class="input-group checkbox-group size-m" id="pestanaContainer">
			                    PESTAÑA:
			                    <label for="pestanaSi" class="mx-3">SI
				                    <input type="radio" id="pestanaSi" name="pestana" value="true"/>											
								</label>
			                    <label for="pestanaNo">NO
				                    <input type="radio" id="pestanaNo" name="pestana" value="false"/>											
								</label>
			                </div>
							<div class="input-group checkbox-group size-m" id="aletaContainer">
			                    ALETA:
			                    <label for="aletaSi" class="mx-3">SI
				                    <input type="radio" id="aletaSi" name="aleta" value="true"/>											
								</label>
			                    <label for="aletaNo">NO
				                    <input type="radio" id="aletaNo" name="aleta" value="false"/>											
								</label>
			                </div>
							
							<div class="input-group checkbox-group size-m" id="perfBordeContainer">
			                    PERF. BORDE:
			                    <label for="perfBordeSi" class="mx-3">SI
				                    <input type="radio" id="perfBordeSi" name="perfBorde" value="true"/>											
								</label>
			                    <label for="perfBordeNo">NO
				                    <input type="radio" id="perfBordeNo" name="perfBorde" value="false"/>											
								</label>
			                </div>
							
							<div class="input-group checkbox-group size-m" id="perforacionesContainer">
			                    PERFORACIONES:
			                    <label for="perforacionesSi" class="mx-3">SI
				                    <input type="radio" id="perforacionesSi" name="perforaciones" value="true"/>											
								</label>
			                    <label for="perforacionesNo">NO
				                    <input type="radio" id="perforacionesNo" name="perforaciones" value="false"/>											
								</label>
			                </div>
							
							<div class="input-group checkbox-group size-m" id="troqueladoContainer">
							    TROQUELADO:
							    <label for="troqueladoSi" class="mx-3">SI
							        <input type="radio" id="troqueladoSi" name="troquelado" value="true"/>											
								</label>
							    <label for="troqueladoNo">NO
							        <input type="radio" id="troqueladoNo" name="troquelado" value="false"/>											
								</label>
							</div>
	
							<div class="input-group checkbox-group size-m" id="cuadraturaContainer">
							    CUADRATURA:
							    <label for="cuadraturaSi" class="mx-3">SI
							        <input type="radio" id="cuadraturaSi" name="cuadratura" value="true"/>											
								</label>
							    <label for="cuadraturaNo">NO
							        <input type="radio" id="cuadraturaNo" name="cuadratura" value="false"/>											
								</label>
							</div>	
	
							<div class="input-group checkbox-group size-m" id="coronaContainer">
							    CORONA:
							    <label for="coronaSi" class="mx-3">SI
							        <input type="radio" id="coronaSi" name="corona" value="true"/>											
								</label>
							    <label for="coronaNo">NO
							        <input type="radio" id="coronaNo" name="corona" value="false"/>											
								</label>
							</div>	
							
							<div class="input-group checkbox-group size-m" id="flechaHContainer">
							    FLECHA H:
							    <label for="flechaHSi" class="mx-3">SI
							        <input type="radio" id="flechaHSi" name="flechaH" value="true"/>											
								</label>
							    <label for="flechaHNo">NO
							        <input type="radio" id="flechaHNo" name="flechaH" value="false"/>											
								</label>
							</div>	
							
							<div class="input-group checkbox-group size-m" id="flechaVContainer">
							    FLECHA V:
							    <label for="flechaVSi" class="mx-3">SI
							        <input type="radio" id="flechaVSi" name="flechaV" value="true"/>											
								</label>
							    <label for="flechaVNo">NO
							        <input type="radio" id="flechaVNo" name="flechaV" value="false"/>											
								</label>
							</div>	
							
							<div class="input-group checkbox-group size-m" id="corteContainer">
							    CORTE:
							    <label for="corteSi" class="mx-3">SI
							        <input type="radio" id="corteSi" name="corte" value="true"/>											
								</label>
							    <label for="corteNo">NO
							        <input type="radio" id="corteNo" name="corte" value="false"/>											
								</label>
							</div>	
							
							<div class="input-group checkbox-group size-m" id="punzonadoContainer">
							    PUNZONADO:
							    <label for="punzonadoSi" class="mx-3">SI
							        <input type="radio" id="punzonadoSi" name="punzonado" value="true"/>											
								</label>
							    <label for="punzonadoNo">NO
							        <input type="radio" id="punzonadoNo" name="punzonado" value="false"/>											
								</label>
							</div>
							
							<div class="input-group checkbox-group size-m" id="granalladoContainer">
							    GRANALLADO:
							    <label for="granalladoSi" class="mx-3">SI
							        <input type="radio" id="granalladoSi" th:field="*{granallado}" name="granallado" value="true"/>											
								</label>
							    <label for="granalladoNo">NO
							        <input type="radio" id="granalladoNo" th:field="*{granallado}" name="granallado" value="false"/>											
								</label>
							</div>
							
							<div class="input-group checkbox-group size-l" id="pasaPruebaContainer">
							    PASA PRUEBA CUADRICULA:
							    <label for="pasaPruebaSi" class="mx-3">SI
							        <input type="radio" id="pasaPruebaSi" name="pasaPrueba" value="true"/>											
								</label>
							    <label for="pasaPruebaNo">NO
							        <input type="radio" id="pasaPruebaNo" name="pasaPrueba" value="false"/>											
								</label>
							</div>														
						</div>
					</div>
					<div id="espesores" hidden>
						<h3>REGISTRO ESPESORES:</h3>
						<div class="form-grid my-5" style="width: 90%; margin: auto;">
			                <div class="input-group size-m" >
			                    <span class="input-group-text">1 Media [μm]:</span>
			                    <input type="number" id="media1" name="media1" class="form-control"/>
			                </div>
							<div class="input-group size-m" >
							    <span class="input-group-text">2 Media [μm]:</span>
							    <input type="number" id="media2" name="media2" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">3 Media [μm]:</span>
							    <input type="number" id="media3" name="media3" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">4 Media [μm]:</span>
							    <input type="number" id="media4" name="media4" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">5 Media [μm]:</span>
							    <input type="number" id="media5" name="media5" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">6 Media [μm]:</span>
							    <input type="number" id="media6" name="media6" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">7 Media [μm]:</span>
							    <input type="number" id="media7" name="media7" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">8 Media [μm]:</span>
							    <input type="number" id="media8" name="media8" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">9 Media [μm]:</span>
							    <input type="number" id="media9" name="media9" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">10 Media [μm]:</span>
							    <input type="number" id="media10" name="media10" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">11 Media [μm]:</span>
							    <input type="number" id="media11" name="media11" class="form-control"/>
							</div>
							<div class="input-group size-m" >
							    <span class="input-group-text">12 Media [μm]:</span>
							    <input type="number" id="media12" name="media12" class="form-control"/>
							</div>
						</div>						
					</div>
					
					<div class="d-grid">
						<button type="submit" class="btn btn-primary" th:text="${modoEdicion ? 'Actualizar' : 'Guardar'}"></button>						
					</div>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
		<script src="/js/calidad/calidad.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
	        var lotesConCodigosString = /*[[${lotesJson}]]*/ [];
			var modoEdicion = /*[[${modoEdicion}]]*/ false;
	        /*]]>*/
	    </script>
	</body>
</html>