<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="fragments/head :: head('Configuracion :: Formulario Menu')"></head>
	<body>
		<nav th:replace="fragments/navbar :: nav-bar('Configuracion')"></nav>
		
		<div class="container my-5" style="width:60%;">
			<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show" role="alert">
			  <span th:text="${message}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div th:if="${error != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
			  <span th:text="${error}"></span>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			 </div>
			 <div class="card-body" style="margin: auto; width: 80%;">
				 <h2 class="mb-5">Formulario Menu</h2>
	 		    <form th:object="${menu}" th:action="@{/menus/guardar}" method="post">
			        <input type="hidden" th:field="*{id}" required/>
			        <div class="form-group mb-3">
			           <label>Nombre: </label>
			           <input type="text" th:field="*{nombre}" class="form-control" required />
			       	</div>
			       	<div class="form-group mb-3">
			           <label>Url: </label>
			           <input type="text" th:field="*{url}" class="form-control" required />
			       	</div>
			       	<div class="form-group mb-3">
	                   <label>Padre: </label>
	                   <select class="form-control" th:field="*{padre}" required>
	                   	<option value=""></option>
	                       <option th:each="item : ${menus}" th:value="${item.id}" th:text="${item.nombre}"></option>
	                   </select>
	               	</div>
			       	<button type="submit" class="btn btn-primary">Guardar</button>
		        	<a class="btn btn-secondary" th:href="@{/menus}" role="button">Volver al Listado</a>
				 </form>
			 </div>
		</div>
		
		<footer th:replace="fragments/footer :: footer"></footer>
		<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	</body>
</html>